.DS_STORE
curriculum_vitae.aux
curriculum_vitae.bcf
curriculum_vitae.fdb_latexmk
curriculum_vitae.fls
curriculum_vitae.log
curriculum_vitae.out
curriculum_vitae.run.xml
curriculum_vitae.synctex.gz
push.sh